body{
    background-color:cornsilk;
    display: flex;
    flex-direction: column;
    margin: 20px;

}

#container{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 701px;
    margin: 20px auto;
    border: 5px solid 
}

#line{
    display: flex;
    flex: 1;
}

.square {
    flex: 1;
    height: auto;
    width: auto;
    background-color: white;
    
}

.button{
    display: flex;
    width: 700px;
    margin: 0 auto;
    justify-content: center;
    gap: 30px;
}

button{
    padding: 12px 25px; /* Espaciado dentro del botón */
    font-size: 16px; /* Tamaño del texto */
    color: white; /* Color del texto */
    background-color: #4CAF50; /* Color de fondo */
    border: none; /* Elimina el borde predeterminado */
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a una mano al pasar por encima */
    transition: background-color 0.3s ease; /* Suaviza el cambio de color */
}